<!doctype html>
<html>
<head>
    <title>SAS Final</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <header>
        <a class="btn btn-default" href="/system"><i class="fa fa-home"></i> Home</a>
    </header>

    <div class="page-header text-center">
        <h1><span class="fa fa-cog"></span> Iptables</h1>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="ip">ip</label>
                <input type="text" class="form-control" id="ip" placeholder="Enter IP">
            </div>
            <div class="form-group">
                <select name="chain" id="chain" class="form-control">
                    <option value="INPUT">INPUT</option>
                    <option value="OUTPUT">OUTPUT</option>
                    <option value="FORWARD">FORWARD</option>
                </select>
            </div>
            <div class="form-group">
                <select name="rule" id="rule" class="form-control">
                    <option value="ACCEPT">ACCEPT</option>
                    <option value="DROP">DROP</option>
                </select>
            </div>

            <button id="execute" type="submit" class="btn btn-default">Execute</button>
        </form>
    </div>

    <div class="row">

    </div>

    <div class="row">
        <div id="response">

        </div>
    </div>

</div>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/prettyprint.js"></script>

<script>

    $("#execute").on('click', function(e){
        e.preventDefault();
        var ip = $("#ip").val();
        var chain = $("#chain").val();
        var rule = $("#rule").val();

        $.ajax({
            url: 'http://192.168.33.10:8080/iptables/'+ip+'/'+chain+'/'+rule,
            type: 'GET',
            success: function(response){
                $("#response").append(response);
            }
        })
    });

</script>
</body>
</html>
