<!doctype html>
<html>
<head>
    <title>SAS Final</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cog"></span> System Page</h1>
        <a href="/logout" class="btn btn-default btn-sm"><i class="fa fa-sign-out"></i>Logout</a>
        <a href="/unlink/local" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Unlink Account</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Nmap</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">

            </div>
        </div>

    </div>

</div>
</body>
</html>
